<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v2.0.50727"/>
	</startup>
	<appSettings>

		<add key="DatabaseConnectionString" value="" />
		
		<add key="OPFClientRecognitionKeyword" value="STXPWDCHECK_PW_OPF"/>

		<add key="UsePwnedPwd" value="true" />
		<add key="PwnedPwdDatabaseTableName" value="Hashes" />

		<add key="UseForbiddenList" value="true" />
		<add key="ForbiddenListInDatabase" value="true" />
		<add key="MatchesDatabaseTableName" value="Matches" />
		<add key="ContMatchesDatabaseTableName" value="ContMatches" />
		<add key="MatchFile" value="opfmatch.txt" />
		<add key="ContMatchFile" value="opfcont.txt" />
		
		
		
		<add key="LoggingEnabled" value="true"/>
		<add key="LogEventSource" value="PasswordFilter"/>
		<add key="LogFilePath" value="C:\GitHub\OpenPasswordFilter\Log\opfservice.log"/>
	</appSettings>
</configuration>
